
.container3 {
    width: 80%;
    margin: 0 auto;
    font-family: 'Monaco', sans-serif;
}

.container3 ul {
    list-style-type: none;
    margin-left: 10px;
}

.container3 ul li {
    margin-bottom: 15px;
    transition: all ease .5s;
}

.container3 ul li a {
    text-decoration: none;
    font-size: 26px;
    color: transparent;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.container3 ul li a::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--textcolor2);
    transform: translateX(0);
    transition: all ease .5s;
}

.container3 ul li a:hover::before {
    transform: translateX(100%);
    opacity: 0;
}

.container3 ul li a::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--textcolor3);
    transform: translateX(-100%);
    transition: all ease .5s;
    opacity: 0;
    pointer-events: none;
}

.container3 ul li a:hover::after {
    transform: translateX(0);
    opacity: 1;
}