


.container2 {
    width: 80%;
    margin: 0 auto;
    list-style-type: none;
}

.container2 li {
    display: inline-block;
}

.container2 a {
    display: inline-block;
    text-decoration: none;
    font-size: 26px;
    color: var(--textcolor2);
    padding: 0 20px;
    font-family: 'Monaco', sans-serif;
    font-weight: 300;
}

.container2 .cool-link::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: var(--textcolor2);
    transition: all ease .4s;
}

.container2 .cool-link:hover::after {
    width: 100%;
}

