.container4 {
    width: 80%;
    margin: 0 auto;
    font-family: 'Monaco', sans-serif;
}

.container4 ul {
    list-style-type: none;
    margin-left: 10px;
}

.container4 ul li {
    margin-bottom: 15px;
    display: inline;
}

.container4 ul li a {
    text-decoration: none;
    font-size: 26px;
    color: var(--textcolor2);
    position: relative;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    transition: all ease .4s;
}

.container4 ul li a::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    visibility: hidden;

    transform: translateY(-100%) translateX(50%);
    transition: all ease .4s;
}

.container4 ul li a:hover {
    color: transparent;
}

.container4 ul li a:hover::after {
    transform: translateY(0) translateX(0);
    visibility: visible;
    color: var(--textcolor3);
}